html {
   
    scroll-behavior: smooth;
}
p{
    color: #cccccc;
    font-size: calc((.4em + 0.5vmin) + (.4em + 0.5vmax));
}
h1{
    color: #cccccc !important;
    padding-top: 5vh !important;
}
.infoMessage{
    padding-top: 30vh !important;
}

body{
    background-color: #222121 !important;

}